dump/*.sql
logs/*.log
config/*.js
**/.vscode/
**/.DS_Store
node_modules/
nodePM2Deployers/*
data/invoices/*.pdf
!nodePM2Deployers/.gitkeep

.env*
*.swo
*.swp
*.out
*.log
.nvmrc
*.lock
*.yaml
dump.rdb
newrelic.js
npm-debug.log
package-lock.json
