**/.vscode/**
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/extensions.json

**/tmp/
dump/*.sql
config/*.js
node_modules/
nodePM2Deployers/
data/invoices/*.pdf

.env
*.swo
*.swp
*.out
*.log
*.lock
*.yaml
dump.rdb
.history
.DS_Store
!.gitkeep
.gitconfig
newrelic.js
npm-debug.log
package-lock.json
